<div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <mat-card class="example-card">
            <form [formGroup]="grupo" (ngSubmit)="onFormSubmit(grupo.value)">
                Login
               
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Correo" formControlName="correo" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!grupo.get('correo').valid && grupo.get('correo').touched">Por favor ingresa el correo</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Contraseña" formControlName="contrasena" [errorStateMatcher]="matcher">
                        <mat-error>
                            <span *ngIf="!grupo.get('contrasena').valid && grupo.get('contrasena').touched">Por favor la contraseña</span>
                        </mat-error>
                    </mat-form-field>
                <div class="button-row">
                    <button type="submit" [disabled]="!grupo.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
                    <a mat-flat-button color="primary" [routerLink]="['/registro']">
                        <mat-icon>group_add</mat-icon>
                    </a>
                </div>

            </form>
        </mat-card>
    </div>