<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/productos']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2>{{producto.prod_name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{producto.prod_desc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>Precio Producto:</dt>
                <dd>{{producto.prod_price}}</dd>
                <dt>Actualizado A las:</dt>
                <dd>{{producto.updated_at | date}}</dd>
            </dl>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" [routerLink]="['/producto-editar', producto._id]">
                <mat-icon>edit</mat-icon>
            </a>
            <a mat-flat-button color="warn" (click)="eliminarProducto(producto._id)">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>